/* custom.css */


.emptyleg .ant-table-thead>tr>th {
    background-color: #9333EA !important;
    /* Example: Changing header background color */
    color: white !important;
    /* Example: Changing header text color */
}

.ant-table-tbody>tr>td {
    background-color: #fff;
    /* Example: Changing body background color */
    color: #000000;
    /* Example: Changing body text color */
}